---
const features = [
  {
    id: 'expertise-1',
    name: 'Bezpečnostní a zdravotní ořezy stromů',
    description:
      'Bezpečnostní a zdravotní ořezy stromů se provádí za účelem jejich udržení v kondici. Pomáhá k zachování dobrého zdravotního stavu, vitality i provozní bezpečnosti pro okolí, a stromy tak mohou zůstat na svém stanovišti delší dobu. Pod zdravotní řez stromů patří i odstraňování jejich nemocných částí, které jsou napadeny jmelím, houbami nebo dalšími chorobami, a větví mechanicky poškozených či nadbytečných. A kdy je vhodné zdravotní ořez stromů provádět? Nejvhodnější je doba jejich plné vegetace.',
  },
  {
    id: 'expertise-2',
    name: 'Kácení a rizikové kácení stromů',
    description:
      'Rizikové kácení stromů se řadí mezi nebezpečné stromolezecké práce prováděné výškách, které by rozhodně neměl provádět amatér. Fatální úrazy a škody způsobené neodborným kácením nejsou ničím výjimečným a často se nevyhýbají ani profesionálům. Rizikové kácení i prořezy stromů tak u nás provádí pouze proškolení profesionálové, kteří jsou pojištění do výše 50 000 000,- na škody způsobené neopatrným jednáním. Před samotným kácením je třeba vyřídit žádost o kácení stromů na příslušném úřadu, který posuzuje rizikovost a kvalitu stromu. Kácení stromů bez povolení je možné u dřevin, které mají ve výšce 130 cm od země obvod kmene menší než 80cm, stejně tak není třeba povolení při kácení ovocných stromů. Odstranění stromu je pak vhodné provést v době vegetačního klidu, který je od 1. listopadu do 31. března. Ve výjimečných případech je ovšem možné stromy kácet i mimo toto období. Po pokácení stromu můžete využít i dalších našich služeb – nabízíme kompletní likvidaci větví štěpkovačem, který si poradí s větvemi až do průměru 25 cm. Zbylý pařez, který obvykle překáží při sekání i dalších činnostech na zahradě, odstraníme vyfrézováním. Frézování pařezu se provádí pařezovou frézou, která se snadno dostane i do zdánlivě nedostupných míst. Neváhejte proto u nás tyto služby poptat. ',
  },
  {
    id: 'expertise-3',
    name: 'Frézovaní pařezů',
    description:
      'K frézování pařezů se využívá pásová pařezová fréza. Tento stroj umí odstraňovat pařezy až do hloubky 35 cm pod terénem, a vy se tak zbavíte nejen nevzhledného kusu dřeva, ale zabráníte tak i možným úrazům či poškození strojů na úpravu zahrady. Vhodná je likvidace pařezů i v dalších případech – jde hlavně o situace, kdy potřebujete v jejich blízkosti či přímo na stejném místě vysadit nový strom. Určující je i velikost pařezu, protože některé mohou být tak velké, že je není možné odstranit ani za pomoci bagru, stejně tak se práce provádí v místech, kam se těžká technika nedostane. Fréze na pařezy stačí k projetí pouhých 85 cm šířky.',
  },
  {
    id: 'expertise-4',
    name: 'Sečení trávy',
    description:
      'Tuto činnost vám rádi zajistíme, Sečení trávy se sběrem je varianta, kdy posečenou trávu sbíráme do koše a vysypáváme na jedno místo, případně odvážíme. U techniky mulčování se tráva poseká na malé kousíčky a zapadne do trávníku. U vyšší trávy na ploše mohou zůstávat hromádky rozdrcené trávy – vždy záleží na výšce a hustotě. Technika mulčování se z důvodu ceny volí u rozsáhlejších pozemků s vyšší trávou.',
  },
  {
    id: 'expertise-5',
    name: 'Péče o trávník',
    description:
      'Péče o trávník je prací, které se musíte věnovat v průběhu celého roku, a zahrnuje mnohem více, než je pouhé posekání trávy. V každém ročním období vyžaduje trávník jinou péči, potřebné jiné stroje, postupy i prostředky. Proto se i s touto činností můžete s klidem obrátit na nás – postaráme se o váš trávník ve všech ohledech.',
  },
  {
    id: 'expertise-6',
    name: 'Střihání živých plotů a keřů',
    description:
      'Nabízíme stříhání živých plotů a keřů z různých dřevin – ročně nám jich projde pod rukama několik desítekm a máme na to tu nejlepší techniku na trhu. I proto se pouštíme také do stříhání živých plotů a keřů několik metrů vysokých. Radikální nebo také zmlazovací řez se provádí v případě, že živý plot začíná zespodu opadávat. Dřeviny po takovém zásahu začnou na jaře znovu hezky obrážet. Radikální stříhání živých plotů a keřů pomůže i v případě, že potřebujete napravit chyby v péči z minulýc let, když rostly několik let bez stříhání nebo stojí jednotlivé dřeviny příliš blízko sebe. Ne všechna pravidla ale platí pro všechny druhy stromů – neváhejte se proto obráti na profesionály.',
  },
  {
    id: 'expertise-7',
    name: 'Rekultivace pozemků',
    description:
      'Rekultivaci provádíme nejen na soukromých zahradách a pozemcích, ale také kolem cest ve svazích, pod elektrickým vedením i na dalších místech, kde lidská ruka či těžká technika několik let nezasáhla a jsou zde náročné podmínky pro práci. Na likvidaci náletů a nevhodných dřevin jsme vybaveni těmi nejlepší stroji.',
  },
  {
    id: 'expertise-8',
    name: 'Prořez ovocných stromů',
    description:
      'Prořez ovocných stromů provádíme ale i v dalších případech – jestliže se větve v době plození lámou, neváhejte se na nás obrátit. Předejdete tak velkému poškození stromu. Odstraníme také tzv. vlky – neplodné větve, které pro strom nemají přidanou hodnotu a pouze ho oslabují. Během řezu ovocných stromů a keřů zhodnotíme jejich zdravotní stav a doporučíme vhodné ošetření, případně i pokácení a náhradní výsadbu. Je třeba vybrat také správné období, kdy řezat ovocné stromy. Vhodná doba se určuje podle druhu ovocného stromu a zpravidla se provádí dvakrát do roka, a to v zimě či předjaří, poté v létě před nebo po sklizni. Zimním/jarním řezem podpoříme růst výhonů, vytvarujeme či zmladíme stromy, letním se zbavíme výhonů a zbytečně dlouhých větví. Správná doba prořezávaní stromů i jeho provedení je stěžejní pro bohatou úrodu.',
  },
  {
    id: 'expertise-9',
    name: 'Zakládaní trávníků',
    description:
      'Postup zakládání trávníku je následující – po odplevení a vyčištění pozemku je potřeba zeminu nakypřit a srovnat. Zemina se poté ještě provzdušní přidáním křemičitého písku. Pak už můžeme přistoupit k rovnoměrnému rozprostření osiva, které zajišťuje secí stroj. Ten zároveň přidává i zakládací substrát plný kvalitních živin pro nový porost. Plocha se následně zválcuje, čímž se zapraví semena do země, a zakryje se textilií, která chrání osivo před splavením vodou. Kromě samotného založení trávníku vám můžeme nabídnout i další služby – pravidelné i nepravidelné sečení trávníku, komplexní péči o něj a také vám můžeme pomoci s kompletním návrhem a realizací zahrady přímo vám na míru. Obraťte se na nás s každým vaším přáním.',
  },
  {
    id: 'expertise-10',
    name: 'Zimní údržba',
    description:
      'V rámci našich služeb provádíme také zimní údržbu komunikací pro obce, města, parky i areály. Na sníh jsme připraveni malými a velkými stroji na chodníky.',
  },
  {
    id: 'expertise-11',
    name: 'Založení trvalkových záhonů',
    description:
      'Založení trvalkového záhonu by ideálně mělo předcházet vytvoření osazovacího plánu, který vychází z konceptu, tedy základního plánu zahrady. Těmto krokům jsme se detailně věnovali v samostatných článcích. Trvalkový záhon by totiž neměl být krásný pouze jako samostatná jednotka nebo část zahrady, měl by být v harmonii i se zbytkem zahrady a jejího okolí. Nejlepší dobou pro založení trvalkového záhonu je podzim (září až polovina listopadu dle aktuálního počasí) nebo jaro (přibližně od druhé poloviny března, duben), dokud je půda vlhká a není již promrzlá. Trvalky zakoupené v květináčích můžete vysazovat i během léta, ovšem musíte počítat s tím, že budou potřebovat vydatnou zálivku.',
  },
  {
    id: 'expertise-12',
    name: 'Výsadba stromů a keřů',
    description:
      'VÝSADBA ROSTLIN: Výsadba začíná vytyčením místa určeného pro výsadbu podle osazovacího plánu či záměru. Následuje hloubení výsadbové jámy. Lze vysazovat rostliny do předem připravené, tak i nepřipravené půdy. Výsadba do předem připravené půdy: v tomto případě postačuje vyhloubení jámy o takových rozměrech, aby se do ní bez problémů rozprostřely všechny kořeny nebo kořenový bal. Pro běžné keře se hloubí jámy obvykle o průměru 25 až 40 cm, hloubka 20 až 30 cm, pro malé keře a trvalky pak o průměru 10–15 cm, hloubka 10–12 cm, rostliny tzv. „neutápíme“. \nVÝSADBA STROMŮ: při ní je vhodná výpomoc druhé osoby, která strom přidržuje ve správné poloze a kontroluje rovnoměrné zasypávání. Nesmí se zapomenout na opěrný kůl, který je nutné zarazit ještě před výsadbou do připravené jámy. Kůl by měl být tak dlouhý, aby po výsadbě sahal těsně pod korunu stromů, a úvazek pak musí být takový, aby znemožnil poškození kmínku zařezáváním při větrném počasí',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Služby</h2>
      <div class="lg:col-span-2">
        <dl
          class="-mt-3"
          x-data="{ selected: null, toggle(value) { this.selected = this.selected === value ? null : value } }"
        >
          {
            features.map((feature, index) => (
              <div
                class="rounded-3xl px-4 transition"
                x-data={`{ id: ${index}, get isOpen() { return this.id === this.selected }, get isNextOpen() { return (this.id + 1) === this.selected } }`}
                x-bind:class="{ 'bg-primary-500/10 dark:bg-primary-400/10': isOpen }"
              >
                <dt
                  class="border-b text-lg transition"
                  x-cloak
                  x-bind:class="{ 'border-transparent': isOpen || isNextOpen, 'border-primary-900/10 dark:border-primary-300/10': !(isOpen || isNextOpen) }"
                >
                  <button
                    type="button"
                    class="group block w-full py-6 text-left transition focus-visible:outline-none"
                    aria-controls={feature.id}
                    x-on:click="toggle(id)"
                    aria-expanded="false"
                    x-bind:aria-expanded="isOpen.toString()"
                  >
                    <div class="group-focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200 flex items-center justify-between rounded-3xl group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2">
                      <span class="font-medium">{feature.name}</span>
                      <span class="ml-6 flex h-7 items-center">
                        <svg
                          class="text-primary-600 dark:text-primary-400 h-6 w-6 rotate-0 transform transition duration-200 ease-in-out"
                          x-bind:class="{ '-rotate-180': isOpen, 'rotate-0': !isOpen }"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z" />
                        </svg>
                      </span>
                    </div>
                  </button>
                </dt>
                <dd class="pb-6 pr-6" id={feature.id} x-show="isOpen" x-cloak x-collapse>
                  <p class="text-primary-950/70 dark:text-primary-200/70 text-base whitespace-pre-line">
                    {feature.description}
                  </p>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
